.is-focused {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
}


.is-focused-some-othertest {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
}